.main-contents
  .main-contents__header
    .group-info
      .group-info__name
        name
      .group-info__member
        member : name
    .group-edit
      = link_to "#", class: "group-edit__btn" do
        Edit
  .main-contents__chat-list
    .chat
      .chat__info
        .chat__info--left
          name
        .chat__info--right
          2020/02/06(Thu) 20:19:19
      .chat__message
        message
    .chat
      .chat__info
        .chat__info--left
          name
        .chat__info--right
          2020/02/06(Thu) 20:21:29
      .chat__message
        message
  .main-contents__footer