* {
  box-sizing: border-box;
}

$mainWhite: #ffffff;
$btnLightBlue: #38aef0;
$mainTextBlack: #333333;
$subTextGray: #999999;

.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  height: 100vh;
  &__header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .username-box{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name {
        line-height: 20px;
        color: $mainWhite;
      }
      &__icons {
        width: 60px;
        text-align: right;
        &--btn {
          color: $mainWhite;
          text-decoration: none;
          margin-left: 5px;
        }
      }
    }
  }
  &__group-list{
    overflow: scroll;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .group-box {
      height: calc(20px + 15px + 5px + 11px + 40px);
      padding: 20px 20px 40px;
      color: $mainWhite;
      &__name {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      &__chat {
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
}

.main-contents {
  width: calc(100vw - 300px);
  height: 100vh;
  &__header {
    background-color: $mainWhite;
    height: 100px;
    display: flex;
    justify-content: space-between;
    .group-info {
      margin: 35px 0 0 40px;
      &__name {
        font-size: 20px;
        color:  $mainTextBlack;
        margin-bottom: 15px;
      }
      &__member {
        font-size: 12px;
        color: $subTextGray;
      }
    }
    .group-edit {
      line-height: 40px;
      height: 40px;
      width: 72px;
      border: 1px solid;
      border-color: $btnLightBlue;
      margin: 28px 40px 0 0;
      padding: 0 20px;
      &__btn {
        text-decoration: none;
        color: $btnLightBlue;
      }
    }
  }
  &__chat-list {
    overflow: scroll;
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    .chat {
      padding: 35px 0 0 40px;
      &__info {
        display: flex;
        margin-bottom: 12px;
        &--left {
          color: $mainTextBlack;
          font-size: 16px;
        }
        &--right {
          color: $subTextGray;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__contents {
        height: 46px;
        color: #434a54;
        font-size: 14px;
      }
    }
  }
  &__footer {
    background-color: #d2d2d2;
    height: 90px;
    line-height: 90px;
    .message-form{
      display: flex;
      margin-left: 40px;
      &__box{
        position: relative;
        width: 100%;
        &__text {
          border-style: none;
          padding-left: 10px;
          height: 50px;
          width: 100%;
        }
        &__icon {
          position: absolute;
          right: 10px;
          font-size: 25px;
          &--select {
            display: none;
          }
        }
      }
      &__btn {
        margin-right: 40px;
        margin-left: 15px;
        &--send {
          border-style: none;
          background-color: $btnLightBlue;
          color: $mainWhite;
          height: 50px;
          padding: 0 30px;
        }
      }
    }
  }
}